.logo {
    background-image: url("../Static/assets/logo/logo.png");

}



.welcome { 
    background-image:url("../Static/assets/backgrounds/h_img.jpg");
    text-align: center;
    padding: 10%;
    margin: auto;
    color: white;
    size: auto;
    height:10%;
    font-size: 50px;
    width: auto;

}  
.welcome2 {
    font-size: 20px;

}
    


 .about {
     text-align: center;
     padding: 5%;
     margin: 10px; 
     font-size: 20px;

}

.services{
    text-align: center;
    color: white;
    background-image: url("../Static/assets/backgrounds/s_image.jpg");
    padding: 5%;
    font-size: 20px;
}

.whatwedo {
    text-align: center;
    padding:5%;
    clear: both;
}

.img{
    width: auto;
    

}

.hide{
    display: none;
}
.hide2{
    display: none;
}

.hide3{
    display: none;
}



.icons {
    float: left;
    height: auto;
    width: 33.3%;
    padding: 5%;
    
    

}
.icons2 {
    float: left;
    height: auto;
    width:33.3%;
    padding: 5%;

}
.icons3 {
    float: left;
    height: auto;
    width:33.3%;
    padding:5%;

}

.portfolio {
    text-align: center;
    padding: 10%;
    position: relative;

}



.port{

    height: 200px;
    width: auto;
    padding: 5px;
    float: left;
}
.work1{
    width: auto;

}


.hover1{

    display: none;
    



}
.port:hover + .hover1{

    display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
   
    width: 80%;
   

}



.last{
    background-image: url("../Static/assets/backgrounds/c_image.jpg");
    padding:10%;
    text-align: center;
    
    

}
.contact1{
    color: white;
    
}

.text1{
    opacity: 0.4;
    padding: 5%;
    
    
}


::placeholder{
    opacity: 0.2;
    color:yellow;
    
}
.social1{
    padding: 2%;

   }

   .social{
       float: left  ;
       width: 10%;
       padding:1%;


   }

   .end{
       text-align: center;
   }